@import "blockquote";

.reveal {

    pre[class*="language-"] {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.6em;
        &:not(.line-numbers) {
            padding: 0.5em;
        }
        code {
            padding: 0;
        }
    }

    .console-error {
        margin-bottom: 0.5em;
    }

    .slides {
        & > section {
            & > section {
                width: 60%;
                left: 20%;
                &.fullwidth {
                    width: 95%;
                    left: 5%;
                }
            }
        }
    }

}
